$bgColor: white;
$btnBgColor: black;
$addBtnFontColor: white;
$pointsColor: #f0f0f0;
$color: #777;
$hoverColor: #f0f0f0;
$confirmTitleColor: black;
$confirmTitleFontColor: white;
$confirmOptionColor: black;
$confirmOptionTextColor: white;
$errColor: red;