.app-votelink-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.item-list {
  margin: 20px auto;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 21rem;
  font-size: 25px;
}